:root{
    --blue: #0061FF;
    --white: #FFFFFF;
    --lightblue: #B4D0E7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans" , sans-serif;
    overflow-x: hidden;
}
header{
    background-color:#B4D0E7 ;
}
.container-large{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
}
/* nav */
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--white);
   z-index: 1;
   
}


.dropdown{
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    padding-top: 20px;
   display: none;
   text-align: center;
   width: 80px;
}
.drop{
    /* padding-top: 65px; */
}
nav li a{
    color: black;
    text-decoration: none;
}
nav li a:hover{
    color: var(--blue);
}
 nav li{
    list-style: none;
    padding: 0 15px;
    transition: transform .2s;
    position: relative;
   cursor: pointer;
}
nav li:hover{
    transform: scale(1.2);
    color: #0061FF;
}
nav ul li:hover > ul.dropdown{
    display: block;
    color: black;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#btn-blu{
    background-color:var(--blue);
    color:white;
    padding: 8px 16px;
    display: block;
    cursor: pointer;
}
#btn-blu:hover{
    filter: brightness(150%);
}
#dx{
    margin-right: 10px;
}
div.dx{
   
}
/* hero */
.hero{
 background-color: var(--lightblue);
 padding-top: 80px;
}
h1{
    font-size:75px;
    font-weight:bolder;
}
.hero .container-large{
    position: relative;
    bottom: -80px;
}
.container-large img{
    width: 820px;
}
.flex{
  display: flex;
  padding-top: 60px;
}
.sx{
    width: 30%;
}
.dx{
    width: 70%;
}
div.sx span{
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 16px;
    display: inline-block;
    cursor: pointer;
}
div.sx span:hover{
    filter: brightness(150%);
}
#giu{
    padding: 30px 0;
}
#freccia{
    padding-top: 50px;
    font-size: 50px;
    
}

/* main */
/* section1 */
.section1{
   padding-top: 150px;
}
h2{
    font-size: 40px;
}
#box{
    padding: 50px 0;
}
.box1{
    border: 1px solid #ccc;
}
.centro{
    text-align: center;
    padding: 10px 0 ;
}
.container{
    display:flex;
    padding-top: 50px;
    align-items: stretch;
    flex-wrap: wrap;
}
.box{
    width: calc((1000px - 80px) / 3);
    min-height: 951px;
    border: 1px solid #ccc;
}
.ct{
    margin: 0 40px;
}
.lf{
    padding:40px 30px;
    min-height: 951px;
}
h3{
    font-size: 23px;
}
#dentro{
    padding-top: 50px;
    
}
.dentro{
    display: flex;
    font-size: 14px;
}
.dentrosx{
    padding-left: 10px;
}
#btn{
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 12px 24px;
    display: block;
    cursor: pointer;
}
#btn:hover{
    filter: brightness(150%);
}
.g{
    padding-bottom: 50px;
}
.sugiu{
    padding: 50px 0;
}
.hr1{
    width: 50px;
}
li{
    padding-top: 20px;
}
ul{
    padding-left: 15px;
}
#btnn{
    background-color:var(--blue);
    color: var(--white);
    padding: 12px 85px;
    display: block;
    cursor: pointer;
}
#btnn:hover{
    filter: brightness(150%);
}
a{
    color: #0061FF;
}
section.section1 li::before{
    content: "\2713" ;
    color: var(--blue);
    margin-right: 5px;
}
section.section1 li{
    text-indent: -1.1em;
   
}
/* section2 */
.flex2{
    display: flex;
    justify-content: space-between;
}
#b{
    background-color: var(--blue);
    padding:12px 30px ;
    color: white;
    display: inline-block;
}
.sxx{
    padding-top: 40px;
    padding-left:25px;
}
.sposta{
    padding-top: 40px;
    padding-bottom: 40px;
}
#partner{
    width: 70%;
}
.section2{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}
.dxx{
    width: 30%;
    padding-top: 50px;
}
.partner{
    width: 650px;
}
#btn_partner{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.section3{
    margin-top: 150px;
}
.hero2{
    width: calc((1000px - 50px) / 3);
}
div.hero2 img{
    width: 300px;
}
.container3{
    display: flex;
    padding-top: 50px;
}
.ctr{
  margin: 0 25px;
}
div.hero2 p{

}
.link{
    padding-top: 50px;
}
.section4{
    width: 100vw;
    display: flex;
}
.quad{
   width: calc(100vw / 3); 
   height: calc(100vw / 3);
   display: flex;
   text-align: center;
   flex-wrap: wrap;
}
.quadrati{
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.quadrati img{
    width: 100px;
}
#verde{
    background-color:#A2D39B ;
}
#rosso-scuro{
    background-color: #61082B;
}
#red{
    background-color:#D5001F ;
}
#azzurro{
    background-color: #B4D0E7;
}

#lightblue{
   background-color: #0093CE;
}
svg{
   filter: invert(1);
    width: 150px;
}
#blu{
    background-color: #0D2481;
}
#yellow{
    background-color:#FFD830 ;
}
.quadd{
    width: calc(100vw / 3); 
   height: calc(100vw / 3);
   background-color:#F5F5F5 ;
    overflow: auto
}
div.quadd img{
    width: 300px;
}
.designit{
    padding: 50px 50px;
}
.linea{
    width: 120px;
}
.flex5{
    display: flex;
    justify-content: space-between;
    height: 360px;
    align-items: center;
    
}
.section5{
    width: 100vw;
    background-color: #B4D0E7;
}
.scuro{
    color: #61082B;
}
.btn_bianco{
    background-color: #FFFFFF;
    padding: 12px 40px;
    cursor: pointer;
}
.bo{
 width: 55%;   
}
.section6{
    margin-top: 150px;
}
footer{
    margin-top: 150px;
    width: 100vw;
    background-color: black;
    padding-top: 100px;
}
.flex-footer{
    display: flex;
}
li{
    list-style: none;
}
.lix{
    width: calc(1200px / 5);
}
div.lix li{
    color: white;
}
.final-section{
    padding-top: 100px;
}
div.final-section hr{
    width: 100px;
    background-color: white;
   margin-left: 10px;
}
.final-section{
    padding-bottom: 50px;
}
div.final-section p{
    color: white;
    margin-left: 10px;
}
.rr{
    position: relative;
}
div.rr i{
    /* position: absolute; */
    top: 145px;
    right: 30px;
    font-weight: bold;
}
#arrow2{
    top: 255px;
    
}
#arrow3{
    top: 370px; 
}
.hosection6{
    padding-top: 20px;
    display: none;
}
.contfr{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
div.tendina{
    padding-right: 40px;
}
div.contfr:hover div.hosection6{
    display: block;
}
.lingua{
    color: white;
    padding-left: 14px;
    padding-bottom: 20px;
    display: none;
}
div.final-sectionn:hover div.lingua{
    display: block;
}
.final-sectionn{
    padding-bottom: 150px;
    width: 110px;
}